/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Topbar styles */
.topbar {
  /* width: 100vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 20px rgb(255, 255, 255);
}

.left,
.right {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  margin-right: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.search-box {
  flex-grow: 0.5;
  background-color: #f6f6fe; 
  display: flex; 
  align-items: center; 
  height: 40px; 
  padding: 0 1rem; 
  border-radius: 25px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
  /* width: 100%;  */
  max-width: 500px; 
  margin: 0 auto; 
}

.search-box input[type="text"] {
  background-color: transparent; 
  border: none; 
  outline: none; 
  font-family: Arial, sans-serif; 
  font-size: 16px; 
  color: black; 
  width: calc(100% - 30px); 
  padding-left: 1rem; 
  padding-right: 30px; 
}

.search-box button[type="submit"] {
  background-color: transparent; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
}

.search-box button[type="submit"] i {
  font-size: 1.2rem; 
  color: #aaa; 
}


/* .center {
  flex-grow: 0.5;
}

input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
} */

.user-login{
  padding: 10px;
  border: 1px solid;
  border-radius: 50%;
  outline: none;
}
.menu-overlay {
  position: fixed;
  top: 58px;
  left: 0;
  width: 100%;
  /*height: 100%; */
  background-color: #333;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 2ms;
}

.menu-content {
  width: 100%;
  background-color: #333;
  padding: 20px;
}

.menu-content a {
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.menuClose {
  /* position: absolute; */
  display: none;
  /* cursor: pointer; */
}

.menuOpen {
  display: none;
}

.menu-icon {
  display: none;
}

.menu-overlay {
  display: none;
}

/* Banner */
.banner {
  display: flex;
  width: 100%;
  height: 500px;
  background-image: url("./image/food_image01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-text {
  flex: 1;
  padding: 50px;
  color: #fff;
  text-align: center;
}

.banner-text h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.banner-text h1 span {
  color: rgb(253, 57, 8);
  text-decoration: underline;
  text-underline-offset: 10px;
}

/* .banner-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
} */

.banner-text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.5;
  box-shadow: 0 2px 20px rgb(0, 0, 0);
}

.banner-text button {
  background-color: #e04f1e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  box-shadow: 0 2px 20px rgb(0, 0, 0);
}

.banner-image {
  flex: 1;
}

/* banner end here */

/* our menu strat here */


.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.our-menu {
  background-color: #f5f5f5;
  padding: 2rem 0;
  text-align: center;
}

.our-menu h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.food-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.food-item {
  width: calc(33% - 1.5rem);
  margin: 0.75rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.food-item img {
  width: 70%;
  height: 150px;
  object-fit: cover;
}

.food-item h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.food-item p {
  font-size: .75rem;
  padding: 0 20px;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.food-item .price {
  font-weight: bold;
}

.menu-button {
  display: inline-block; 
  padding: 10px 20px; 
  background-color: #fff; 
  color: #e04030;
  text-decoration: none; 
  font-weight: bold; 
  border: 1px solid #e04030; 
  cursor: pointer; 
  border-radius: 5px; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.menu-button:hover {
  background-color: #c03020;
  color:#fff;
}

/* our menu end here */

/* For smaller screens */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-overlay {
    display: none;
  }

  .menu-icon {
    padding: 10px;
    display: block;
  }

  .menuOpen {
    display: flex;
  }

  .right {
    flex-direction: row-reverse;
  }

  .center {
    display: none;
  }

  /* banner */
  .banner {
    height: 300px;
  }

  .banner .banner-text {
    flex: 2;
    padding: 10px;
  }

  .banner-image {
    flex: 0;
  }

  .banner .banner-text h1 {
    font-size: 1.5rem;
  }

  .banner-text h1 span {
    text-underline-offset: 5px;
  }

  /* our menu*/
  .food-item {
    width: calc(70% - 1.5rem); /* Change to two columns on smaller screens */
  }

  .food-item img{
    width: 65%;
  }
  /* end our menu*/
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .center {
    display: none;
  }

  /* our menu*/
  .food-item {
    width: calc(45% - 1.5rem); /* Change to two columns on smaller screens */
  }
  .food-item img {
    width: 61%;
  }
  /* end our menu*/
}

/* Styles for desktops (992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .menu-overlay {
    display: none;
  }
}

/* Styles for large desktops (1200px and above) */
@media only screen and (min-width: 1200px) {
  .menu-overlay {
    display: none;
  }
}